<template lang="pug">

    v-tag.loft-profile-field(v-bind="options" v-if="currentField" v-on="inputListeners",)
        
</template>

<script>
import { VSelect, VCheckbox, VTextField } from 'vuetify/lib'
import VTag from '~/components/VTag'
import validator from '~/mixins/validator.js'
export default {
    name: 'LoftProfileField',
    components: {
        VTag,
        'v-select': VSelect,
        'v-checkbox': VCheckbox,
        'v-text-field': VTextField,
    },
    mixins: [validator],
    props: {
        value: {
            required: false,
            default: '',
        },
        name: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            userFields: [
                {
                    label: 'Name',
                    field: 'name',
                    type: 'string',
                    validator: 'nameValidator',
                },
                {
                    label: 'Do you agree?',
                    field: 'agree',
                    type: 'boolean',
                    validator: 'agreeValidator',
                },
                {
                    label: 'Gender',
                    field: 'gender',
                    type: 'select',
                    validator: 'genderValidator',
                    meta: {
                        values: [
                            {
                                label: 'Male',
                                value: 'male',
                            },
                            {
                                label: 'Female',
                                value: 'female',
                            },
                        ],
                    },
                },
                {
                    label: 'Subscription',
                    field: 'sub',
                    type: 'date',
                    validator: 'dateValidator',
                },
            ],
        }
    },
    computed: {
        inputListeners() {
            const vm = this
            // `Object.assign` объединяет объекты вместе, чтобы получить новый объект
            return Object.assign(
                {},
                // Мы добавляем все слушатели из родителя
                this.$listeners,
                // Затем мы можем добавить собственные слушатели или
                // перезаписать поведение некоторых существующих.
                {
                    // Это обеспечит, что будет работать v-model на компоненте

                    input(event) {
                        vm.$emit('input', event)
                    },
                },
                {
                    change(event) {
                        vm.$emit('input', event)
                    },
                }
            )
        },
        currentField() {
            const find = this.userFields.find(
                (item) => item.field === this.name
            )
            if (find) return find
            return null
        },

        tagName() {
            let name = 'v-text-field'
            if (this.currentField.type === 'data') {
            }
            if (this.currentField.type === 'select') {
                name = 'v-select'
            }
            if (this.currentField.type === 'boolean') {
                name = 'v-checkbox'
            }

            return name
        },
        options() {
            return {
                label: this.currentField.label,
                name: this.tagName,
                value: this.value,
                inputValue: this.value,
                ...this.validatorFieldRules(this.currentField.validator),
                ...this.selectOptions,
            }
        },
        selectOptions() {
            if (this.currentField.type === 'select') {
                return {
                    itemText: 'label',
                    items: this.currentField?.meta?.values,
                }
            }
            return {}
        },
    },
}
</script>

<style lang="scss">
.loft-profile-field {
}
</style>
