<template lang="pug">
    v-form.loft-profile-info(
        @submit.prevent="send"
        ref="form"
        v-model="valid"
        )
        ul.loft-profile-info
            li.loft-profile-info__item(v-for="(value, name,index) in fieldList", :key="index")
                loft-profile-field(:name="name" v-model="model[name]")
            li.loft-profile-info__item
                v-btn(type="submit") Отправить
</template>

<script>
import LoftProfileField from '~/components/LoftProfileField.vue'
export default {
    name: 'LoftProfileInfo',
    components: {
        LoftProfileField,
    },
    props: {
        fieldList: {
            type: Object,
            default: () => ({}),
        },
    },
    data() {
        return {
            valid: true,
            model: {},
        }
    },
    watch: {
        fieldList: {
            handler(val) {
                this.model = val
            },
            immediate: true,
        },
    },
    methods: {
        validate() {
            this.$refs.form.validate()
        },
        send() {
            this.validate()
            if (this.valid) {
                alert('Отправили данные')
                console.log(this.model)
            }
        },
    },
}
</script>

<style lang="scss">
.loft-profile-info {
    display: grid;
    gap: 2em;
}
</style>
