<template lang="pug">
    v-text-field.loft-field(:label="label",:value="value")     
</template>

<script>
export default {
    name: 'LoftField',
    props: {
        label: {
            type: String,
            default: '',
        },
        value: {
            type: String,
            default: '',
        },
    },
    data() {
        return {}
    },
}
</script>

<style lang="scss">
.loft-field {
}
</style>
