<template lang="pug">
    ul.hit-list
        li.hit-list__item(v-for="item in itemList" :key="item.RestaurantId")
            hit-item(v-bind="item")

</template>

<script>
import HitItem from '~/components/ProductHitItem.vue'
export default {
    components: {
        HitItem,
    },
    props: {
        itemList: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {}
    },
}
</script>

<style lang="scss">
.v-application .hit-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2em;
    padding-left: 0;
    list-style-type: none;
}
</style>
