<template lang="pug">
    v-card.hit-item(height="100%" nuxt :to="{name:'hitDetail',params:{id:'RestaurantId'}}")
        v-img(:src="RestaurantLogo" :alt="ProductName" contain height="200")
        v-card-title {{ProductName}}
        v-card-text {{ProductDescription}}
        v-card-subtitle.hit-item__price {{ProductPrice}} ₽
</template>

<script>
export default {
    props: {
        RestaurantName: {
            type: String,
            default: '',
        },
        ProductImage: {
            type: String,
            default: '',
        },
        RestaurantLogo: {
            type: String,
            default: '',
        },
        ProductName: {
            type: String,
            default: '',
        },
        ProductDescription: {
            type: String,
            default: '',
        },
        ProductPrice: {
            type: Number,
            default: 0,
        },
        RestaurantId: {
            type: Number,
            default: 0,
        },
    },

    data() {
        return {}
    },
}
</script>

<style lang="scss">
.hit-item {
    &__price {
        text-align: right;
        font-size: 1.5em;
    }
}
</style>
