<template lang="pug">
    v-card.review-item(shaped)
        v-card-text.review-item__about
            v-icon(v-if="IsPositive")
                |{{mdiThumbUpOutline}}
            v-icon(v-else)
                |{{mdiThumbDownOutline}}
            |{{UserFIO}} о ресторане {{RestaurantName}}
        v-card-title.review-item__message {{Message}}
        v-card-subtitle {{DateAdded}}
</template>

<script>
import { mdiThumbUpOutline, mdiThumbDownOutline } from '@mdi/js'
export default {
    props: {
        DateAdded: {
            type: String,
            default: '',
        },
        IsPositive: {
            type: Boolean,
            default: false,
        },
        Message: {
            type: String,
            default: '',
        },
        RestaurantName: {
            type: String,
            default: '',
        },
        UserFIO: {
            type: String,
            default: '',
        },
    },

    data() {
        return {
            mdiThumbUpOutline,
            mdiThumbDownOutline,
        }
    },
}
</script>

<style lang="scss">
.review-item {
    &__about {
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: 1em;
        align-items: center;
    }
    &__message {
        margin-bottom: 1em;
    }
}
</style>
