<template lang="pug">
    ul.review-list
        li.review-list__item(v-for="item in itemList" :key="item.RestaurantId")
            review-item(v-bind="item")

</template>

<script>
import ReviewItem from '~/components/ReviewItem.vue'
export default {
    components: {
        ReviewItem,
    },
    props: {
        itemList: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {}
    },
}
</script>

<style lang="scss">
.v-application .review-list {
    display: grid;
    grid-template-rows: 1fr;
    gap: 2em;
    padding-left: 0;
    list-style-type: none;
}
</style>
