<template lang="pug">
    v-app(dark)
        v-app-bar(app='')
            v-app-bar-nav-icon
                v-img(src="https://static.chibbis.ru/Content/img/optimized/logo.png" height="40" contain)
            template(v-slot:extension)
                v-tabs(lign-with-title)
                    v-tab(nuxt to="/") Главная
                    v-tab(nuxt :to="{name:'reviews'}") Отдельная отзывов
                    v-tab(nuxt :to="{name:'loft'}") loft

        v-main
            v-container
                nuxt
        v-footer(app)
</template>

<script>
export default {
    components: {},
    data() {
        return {}
    },
}
</script>
