<template lang="pug">
    article.page-index
        aside.page-index__aside
            v-navigation-drawer()
                v-list
                    v-list-item
                        v-checkbox(v-model="filter"  label="Бесплатная доставка" name="filter" value="d" )
                    v-list-item
                        v-checkbox(v-model="filter"  label="Пицца" name="filter" value="p")
        .page-index__main

            section.page-index__section
                h2.page-index__title Хит Продаж
                hit-list.page-index__hit-list(:item-list="hitList")

            section.page-index__section
                h2.page-index__title Отзывы
                review-list.page-index__hit-list(:item-list="reviewList")

</template>

<script>
import HitList from '~/components/ProductHitList.vue'
import ReviewList from '~/components/ReviewList.vue'

export default {
    components: {
        HitList,
        ReviewList,
    },
    async asyncData(context) {
        const hitList = await context.$axios.get('hits')
        const reviewList = await context.$axios.get('reviews')

        return {
            hitList: hitList.data,
            reviewList: reviewList.data,
        }
    },
    data: () => ({
        filter: [],
    }),
}
</script>

<style lang="scss">
.page-index {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1em;
    &__title {
        margin-bottom: 1em;
    }
    &__section {
        margin-bottom: 2em;
    }
    &__aside {
    }
}
</style>
