<template lang="pug">
    article.loft
        h1 Loft Профиль юзера
        loft-profile-info(:field-list="userData")
</template>

<script>
export default {
    name: 'Loft',
    components: {
        LoftProfileInfo: () => import('~/components/LoftProfileInfo'),
    },
    asyncData(context) {
        const userData = {
            name: 'User Name',
            gender: 'male',
            sub: '2020-03-04T13:40Z',
            agree: false,
        }

        return {
            userData,
        }
    },
    data() {
        return {}
    },
}
</script>

<style lang="scss">
.loft {
}
</style>
