<template lang="pug">
    article.page-reviews
        section.page-reviews__section
            h1.page-reviews__title Отзывы
            review-list.page-reviews__review-list(:item-list="reviewList")

</template>

<script>
import ReviewList from '@/components/ReviewList.vue'

export default {
    components: {
        ReviewList,
    },
    async asyncData(context) {
        const reviewList = await context.$axios.get('reviews')

        return {
            reviewList: reviewList.data,
        }
    },
    data: () => ({}),
}
</script>

<style lang="scss">
.page-reviews {
    &__title {
        margin-bottom: 1em;
    }
}
</style>
